<%= form_for(@trip = Trip.new, method: "POST", url: trips_url, html: { class: "form", id: "new-trip-form" }) do |f| %>
  
  <div class="form-group row">
    <div class="col-sm-2">
      <label>Name</label>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control trip-input-text", autocomplete: "off", placeholder: "Enter name" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2">
      <label>Description</label>
    </div>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control trip-input-area", rows: 3, placeholder: "Tell people more about the trip" %>
    </div>
  </div>

  <input type="hidden" class="locations-index" value="0">

  <div class="cities-container">

    <div>
      <div class="form-group row">
        <div class="col-sm-2">
          <label>Location</label>
        </div>
        <div class="col-sm-10">
          <div class="container-autocomplete">
            <input type="text" class="form-control trip-input-text autocomplete-places" autocomplete="off" placeholder="Enter a location" data-index="0" data-edit="false">
            <input type="hidden" name="trip[trip_locations_attributes[0][location_id]]" data-edit="false" autocomplete="off">
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2">
          <label>Start</label>
        </div>
        <div class="col-sm-4">
          <input class="start-date-trip form-control trip-input-text" autocomplete="off" type="text" data-index="0" data-edit="false">
          <input type="hidden" class="trip-start-date" name="trip[trip_locations_attributes[0][start_at]]" data-index="0" data-edit="false">
        </div>

        <div class="col-sm-2">
          <label>End</label>
        </div>
        <div class="col-sm-4">
          <input class="end-date-trip form-control trip-input-text" autocomplete="off" type="text" data-index="0" data-edit="false">
          <input type="hidden" class="trip-end-date" name="trip[trip_locations_attributes[0][end_at]]" data-index="0" data-edit="false">
        </div>
      </div>
    </div>

    <hr>

  </div>

  <div class="row col-sm-12">
    <a href="#" class="add-city">+ New City</a>
  </div>

  <div class="removed-locations"></div>

  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12 community-form-btns">
        <%= f.submit "Save Trip", class: "btn btn-sm community-btn community-submit-btn" %>
        <button type="button" class="btn btn-sm community-btn community-cancel-btn" data-dismiss="modal" aria-label="Close">Cancel</button>
        <div class="dropdown">
          <button class="btn btn-sm community-btn community-submit-btn dropdown-toggle" type="button" id="communityPrivacyDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i id="privacy-setting-icon-create" class="fa fa-globe" aria-hidden="true"></i>
            <span id="privacy-setting-name-create">Public</span>
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
          </button>
          <div class="dropdown-menu community-privacy-dropdown" aria-labelledby="communityPrivacyDropdown">
            <h6 class="community-privacy-dropdown-header">Who should see this?</h6>

            <a class="dropdown-item dropdown-item-privacy-create" data-privacy="Public" href="#">
              <i class="fa fa-globe" aria-hidden="true"></i> Public
              <p>Anyone on or off Nomo FOMO</p>
            </a>
            <a class="dropdown-item dropdown-item-privacy-create" data-privacy="FriendsOfFriends" href="#">
              <i class="fa fa-unlock-alt" aria-hidden="true"></i> Friends of Friends
              <p>Your friends and their friends on Nomo FOMO</p>
            </a>
            <a class="dropdown-item dropdown-item-privacy-create" data-privacy="MyNetwork" href="#">
              <i class="fa fa-lock" aria-hidden="true"></i> Friends
              <p>Your friends on Nomo FOMO</p>
            </a>
            <a class="dropdown-item dropdown-item-privacy-create" data-privacy="JustMe" href="#">
              <i class="fa fa-user" aria-hidden="true"></i> Only Me
              <p>Only me</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= f.hidden_field :privacy_settings, value: "Public", id: "privacy-settings-create" %>
  <%= f.hidden_field :user_id, value: current_user.id, id: "create-trip" %>
<% end %>
