<div class="itinerary-item row">

  <div class="col-2 date-label">
    <p><%= event.start_at.strftime("%d") %></p>
    <p><%= event.start_at.strftime("%B") %></p>
  </div>

  <div class="col-1 d-flex align-items-center">
    <p class="dates-separator">-</p>
  </div>

  <div class="col-2 date-label">
    <p><%= event.end_at.strftime("%d") %></p>
    <p><%= event.end_at.strftime("%B") %></p>
  </div>

  <div class="col-7">
    <% if @trip.user == current_user %>
      <span class="float-right">
        <%= link_to edit_trip_location_event_path(@trip_location, event), remote: true, class: "mr-10 float-left" do %>
          <i class="fa fa-pencil"></i>
        <% end %>

        <%= link_to trip_location_event_path(@trip_location, event), method: :delete, class: "float-right" do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </span>
    <% end %>

    <h3><%= event.name %></h3>

    <button class="fake-link" data-toggle="collapse" data-target="#event-details-<%= index %>">See event details</button>

    <div id="event-details-<%= index %>" class="collapse">
      <div class="pv-10">
        <p><%= event.location.name if event.location %></p>
        <p><%= event.location.formatted_address if event.location %></p>
        <p><%= event.description %></p>

        <p>Start Date: <%= event.start_at.strftime("%m/%d/%Y") %></p>

        <% if event.start_at_time %>
          <p>Start Time: <%= event.start_at_time %></p>
        <% end %>

        <p>End Date: <%= event.end_at.strftime("%m/%d/%Y") %></p>

        <% if event.end_at_time %>
          <p>End Time: <%= event.end_at_time %></p>
        <% end %>
        
      </div>
    </div>
  </div>
  
</div>